p,sp{
	margin: 20px 30px 1px 30px;
	font-size: 1em; 
	box-decoration-break: clone;
}

ab{
	margin: 40px 30px 1px 30px;
	box-decoration-break: clone;
}

h1{
	text-align: center;
}

h2{
	margin: 10px 10px 10px 10px;
}

h3{
	margin: 15px 20px 20px 20px;
}

byline{
	margin-left: 80%;
	font-size: 0.8em; 
	color:gray;
}

exit{
	margin: 15px 30px 1px 30px;
	box-decoration-break: clone;
	font-style: italic;
}

entrance{
	margin: 15px 30px 1px 30px;
	box-decoration-break: clone;
	font-style: italic;
}

advertisement>h1,advertisement>h2,advertisement>h3{
	text-align: right;
}

advertisement>p{
	background-color:#e6e6e636;
	margin: 1px 50px 1px 50px;
	font-size: 0.8em; 
	text-align: right;
}

poem>stanza>l,poem>l{
	margin-left: 30%;
}