p{
  margin: 20px 30px 1px 20px;
  font-size: 1em; 
}

h1{
  text-align: center;
}

h2{
  margin: 10px 10px 10px 10px;
}

h3{
  margin: 20px 20px 20px 20px;
}

poem>stanza>l,poem>l{
	margin-left: 30%;
}

advertisement>h1,advertisement>h2,advertisement>h3{
  text-align: justify;
  color:gray;
  font-size: 0.75em; 
}
advertisement>p{
  margin: 1px 50px 1px 50px;
  font-size: 0.75em; 
  text-align: justify;
}