p{
  margin: 1px 30px 1px 30px;
  font-size: 1em; 
}

h1{
  text-align: center;
}

h2{
  margin: 10px 10px 10px 10px;
}

h3{
  margin: 20px 20px 20px 20px;
}
byline{
	margin-left: 80%;
	font-size: 0.8em;
	color:gray;
}
advertisement>h1,advertisement>h2,advertisement>h3{
  text-align: right;
}
advertisement>p{
  margin: 1px 50px 1px 50px;
  font-size: 0.9em; 
  text-align: right;
}